<form action="/rooms/create-room" method="post">

<label for="name">Room Name</label>
<input type="text" name="name" id="name">

<label for="description">Description</label>
<input type="text" name="description" id="description">

<label for="imageUrl">Photo</label>
<input type="text" name="imageUrl" id="imageUrl">

<button type="submit">Create Room</button>
    
</form>


