<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/logout">Logout</a>
    <a href="/rooms/rooms-list">See All Rooms</a>
    <a href="/rooms/create-room">Create a New Room</a>
    <a href="/rooms/my-rooms">See My Rooms</a>


    {{{body}}}
  </body>
</html>
