	<div class="container">
		
		<div class="f-group">
			<label for="">Country</label>
			<select name="slct1" id="slct1" onchange="populate(this.id,'slct2')">
				<option value=""> -- Choose Country -- </option>
				<option value="india">INDIA</option>
				<option value="america">AMERICA</option>
			</select>
		</div>
		
		<div class="f-group">
			<label for="">City</label>
			<select name="slct2" id="slct2"></select>
		</div>

	</div>


	<script>
		
		function populate(s1,s2)
		{
			var s1 = document.getElementById(s1);
			var s2 = document.getElementById(s2);

			s2.innerHTML = "";

			if(s1.value == "india")
			{
				var optionArray = ['delhi|Delhi','mumbai|Mumbai','bangalore|Bangalore','hyderabad|Hyderabad'];
			}
			else if(s1.value  == 'america')
			{
				var optionArray = ['new york|New York','los angeles|Los Angeles','chicago|Chicago','houston|Houston'];
			}

			for(var option in optionArray)
			{
				var pair = optionArray[option].split("|");
				var newoption = document.createElement("option");

				newoption.value = pair[0];
				newoption.innerHTML=pair[1];
				s2.options.add(newoption);
			}

		}

	</script>