<form action="/reviews/{{roomId}}/add-reviews" method="post">

<label for="comment">Add Review</label>
<input type="text" name="comment" id="comment">

<button type="submit">Submit Review</button>

</form>